*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:monospace
}
body{
    background-image:linear-gradient(blue, cyan)
}
.mid{
    margin:auto;
    max-width:800px;
    height:100vh;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.mid .title-too{
    font-size:2rem;
    color:gold;
    text-shadow:1px 2px #000
}
.mid .title{
    font-size:12.5rem;
    text-shadow:3px 1px 9px #aaa
}
.mid .buttons {
    display:flex;
}
.mid .buttons .start_button_1,
.pause_button_2,
.stop_button_3{
    flex:1;
    margin:10px;
    padding:10px 0px;
    font-size:30px;
    font-weight:bold;
    border:none;
    border-radius:10px;
    color:#bbb;
    cursor:pointer;
    text-shadow:1px 2px #000;
    box-shadow:1px 4px 9px #000
}
.start_button_1{
    background-color:green;
}
.pause_button_2{
    background-color:red;
}
.stop_button_3{
    background-color:black
}

@media (min-width:600px) and (max-width:850px){
    .mid{
        max-width:600px;
    }
    .mid .title{
        font-size:10rem;
    }
    .mid .buttons .start_button_1,
    .pause_button_2,
    .stop_button_3{
        margin:0px;
        margin-left:5px;
        font-size:22px;
    }
}
@media (min-width:450px) and (max-width:600px){
    .mid{
        max-width:400px;
    }
    .mid .title{
        font-size:7rem;
    }
    .mid .buttons{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .mid .buttons .start_button_1,
    .pause_button_2,
    .stop_button_3{
        margin:0;
        margin-bottom:5px;
        font-size:16px;
        width:20%;
        width:100%;
        padding:20px
    }
}
@media (max-width:450px){
    .mid{
        max-width:300px;
    }
    .mid .title{
        font-size:4rem;
    }
    .mid .buttons{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .mid .buttons .start_button_1,
    .pause_button_2,
    .stop_button_3{
        margin:0;
        margin-bottom:5px;
        font-size:16px;
        width:100%;
        padding:20px
        
    }
}